* {
    margin:0;
    padding:0 ;
    font-family: sans-serif;
}
body{
    background: #ecf4fb;
    
}
.img-gallery{
    width: 80%;
    margin: 100px auto  50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;

}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: beige;
    cursor: pointer;

}